{% extends 'base.html' %}

{% block title %}Create a new Category{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h1>Add Category</h1>

<br><br>
<div class="form-group">
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Category name">
        </div>
    <button class="btn btn-secondary">Add Category</button>
</form>
</div>

{% else%}

<h1>You are not allowed here, you should to login on this website :)</h1>

{% endif %}

{% endblock %}