{% extends 'base.html' %}
{% block title %}
    {{  post.title  }} 
{% endblock %}
{% block content %}
<h1>{{  post.title  }}</h1>
Category - <strong><a href="{% url 'category' post.category %}">{{ post.category }}</a></strong><br>
Author of post - {{  post.author  }}<br>
<small>Was published - {{ post.published_on }}</small><br>
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<small><a href="{% url 'update-post' post.slug %}">(Edit post)</a></small>
<small><a href="{% url 'delete-post' post.slug %}">(Delete post)</a></small><br>
{% endif %}
{% endif %}
<hr>
<br>
{% if post.header_image %}
    <img src="{{ post.header_image.url }}"><br><br>
{% endif %}
{{  post.body|safe  }}
<br><br>
<a href="/" class="btn btn-dark">Back</a>
<br><br>
<hr>
<br>
<form action="{% url 'like-post' post.slug %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if liked %}
            <button type="submit" name="post_slug" value="{{ post.slug }}" class="btn btn-danger btn-small">Unlike</button>
        {% else %}
            <button type="submit" name="post_slug" value="{{ post.slug }}" class="btn btn-primary btn-small">Like</button>
        {% endif %}
    {% else %}
    <small><a href="{% url 'login' %}">Login</a> to like</small>
    {% endif %}
    {% if total_likes == 1 %}
     - {{ total_likes }} Like
    {% else %}
     - {{ total_likes }} Likes
    {% endif %}
</form>
{% endblock %}