{% extends 'base.html' %}
{% block content %}

{% if category_posts %}

<h1>Category "{{ cats }}":</h1>

{% for post in category_posts %}
    <li><a href="{% url 'article-detail' post.slug %}">{{  post.title  }}</a><br>
        <small>Was published - {{ post.published_on }}</small><br>
        Author of post - {{  post.author  }}
        {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        - <small><a href="{% url 'update-post' post.slug %}">(Edit post)</a></small>
        <small><a href="{% url 'delete-post' post.slug %}">(Delete post)</a></small><br>
        {% endif %}
        {% endif %}
        <br>
        {{ post.body|slice:":200"|safe }}
    </li>
    <hr>
{% endfor %}

{% else %}

<h2>Sorry this page does not exist :(</h2>

{% endif %}

{% endblock %}